/target/

/src/main/webapp/bin/
/src/main/webapp/build/
/src/main/webapp/node_modules/
/src/main/webapp/vendor/angular-bootstrap
/
/src/main/webapp/vendor/angular-mocks
/
/src/main/webapp/vendor/angular-ui-router
/
/src/main/webapp/vendor/angular
/
/src/main/webapp/vendor/bootstrap
/
/src/main/webapp/vendor/jquery/


/.classpath
/.project
/.settings
/src/main/webapp/vendor/angular-route
