<div class = "ideas-container">
    <div id="tag-buttons" class="btn-group">
        <tag-button identifier="all" click="ideasCtrl.selectByCategory()" active="true">Все</tag-button>
        <tag-button identifier="sport" click="ideasCtrl.selectByCategory('1')">Спорт</tag-button>
        <tag-button identifier="transport" click="ideasCtrl.selectByCategory('2')">Транспорт</tag-button>
        <tag-button identifier="culture" click="ideasCtrl.selectByCategory('3')">Культура</tag-button>
    </div>
    <div class = "searcher">
        <input placeholder="Найти..." ng-model="ideasCtrl.criteria">
    </div>
    <div class = "ideas">
        <ul>
            <li ng-repeat="idea in ideasCtrl.ideas | orderBy: '-rating'"  class = "idea-li" >
                <show-idea idea="idea" ng-model="ideasCtrl.criteria"></show-idea>
            </li>
        </ul>
    </div>
    <div class="right" >
        <!--<img src="images/mockup.png" width="100%" />-->
        <div id="map"></div>
    </div>
</div>
